<div class="container">
    <div class="panel">
      <div class="panel-heading bgColor"><h2 class="panel-title">Job Listing</h2></div>
      <div class="panel-body">
         <div class="row pad-20">
             <div class="col-md-3 col-md-offset-4">
               <h4>Total Jobs: <strong>{{JobsToDisplay.length}}</strong></h4>
             </div>
             <div class="col-md-5">
               <div class="pull-right">
                <button type="button" class="btn mrg-r" (click)="sortByLocation()">Sort By Location</button>
                <button type="button" class="btn" (click)="sortByExp()">Sort By Exp</button>
               </div>
             </div>
           </div>
           <div class="row">
             <div class="col-md-3 mar-top">
         
               <div class="serach-box">
                 <span class="glyphicon glyphicon-search"></span>
                 <input type="text" placeholder="Keywords or Skill" class="input-style" [(ngModel)]="searchedKey">
               </div>
             </div>
             <div class="col-md-9">
               <div class="flex-container">
                 <div *ngFor="let jobs of JobsToDisplay | search:searchedKey" class="table-responsive">
                   <table>                        
                     <tr>
                       <td>Jobtitle:</td>
                       <td>{{jobs.title}}</td>
                     </tr>
                     <tr>
                       <td>Company:</td>
                       <td>{{jobs.companyname}}</td>
                     </tr>
                     <tr>
                       <td>Location:</td>
                       <td>{{jobs.location}}</td>
                     </tr>
                     <tr>
                       <td>Salary:</td>
                       <td>{{jobs.salary}}</td>
                     </tr>
                     <tr>
                       <td>Type:</td>
                       <td>{{jobs.type}}</td>
                     </tr>
                     <tr>
                       <td>Startdate:</td>
                       <td>{{jobs.startdate}}</td>
                     </tr>
                     <tr>
                       <td>End date:</td>
                       <td>{{jobs.enddate}}</td>
                     </tr>
                     <tr>
                       <td>Apply link:</td>
                       <td>{{jobs.applylink}}</td>
                     </tr>
                     <tr>
                       <td>Source</td>
                       <td>{{jobs.source}}</td>
                     </tr>
                     <tr>
                        <td>Skill</td>
                        <td>{{jobs.skills}}</td>
                      </tr>
         
                   </table>
                 </div>
         
               </div>
             </div>
           </div>
      </div>
    </div>
   </div>
   