.bgColor{
    background-color: black;
    color:white
}
.panel{
    border-color: black
}
.mrg-r{
    margin-right: 8px;
    }
    .flex-container {
    display: flex;
    flex-wrap: wrap;
    }
    
    .flex-container div {
        width: 390px;
        border: 1px solid rgb(10, 0, 0);
        margin: 10px;
        padding: 8px;
       
      
    }
    
    .serach-box{
        border: 1px solid rgb(10, 0, 0);
        height: 40px;
        display: flex;
        align-items: center;
        border-radius: 30px;
        padding: 5px;
        width: 90%;
        margin: 0 auto;
       
    }
    
    .glyphicon-search{
        font-size: 20px;
        padding: 0 10px;
        color: red;
    }
    
    .input-style{
        width: 82%;
        height: 30px;
        padding: 5px 0px;
        border: none;
        outline: none;
        font-weight: bold;
    }
    .pad-20{
        padding: 20px;
    }
    table tr td:nth-child(1){
        color: black;
        
        padding-right: 18px;
        word-break: normal;
        /* overflow-wrap: normal; */
        text-overflow: ellipsis;
        overflow: hidden;
    }
    table tr td:nth-child(2){
        color:black;
        word-break: break-all;
    }
    
    .mar-top{
        margin-top: 1.1rem;
    }
    
    
    
      @media screen and (max-width: 1280px) {
        .flex-container div {
            width: 100%;
    
        }
      }
      @media screen and (max-width: 900px) and (min-width: 600px) {
        .flex-container div {
            width: 100%;
    
        }
      }
    button{
        background-color: grey;
        color:white;
    }
    