.bgForPanel{
   background-color: black;
    color: white
}
.panel{
    margin-top: 3%;
    border-color: black
}
button{
    background-color: grey;
    color: white
}
label{
    padding-top: 1%;
    text-align: right;
}
.r-margin{
    float: right;
    margin-right: 12%;
}