<div class="container">
  <div class="panel">
    <div class="panel-heading bgForPanel">
      <h3 class="panel-title">
        Search Jobs
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <form [formGroup]="searchForm">
          <div class="col-md-5">
            <div class="row">
              <label for="experience" class="col-md-3 control-label">Experience</label>
              <div class="col-md-8">
                <select formControlName="exp" class="form-control">
                  <option *ngFor="let experience of experienceList" [ngValue]="experience">{{experience}}</option>
                </select>
              </div>

            </div>
          </div>
          <div class="col-md-5">
            <div class="row">
              <label for="location" class="col-md-3 control-label">Location</label>
              <div class="col-md-8">
                <select formControlName="loc" class="form-control">
                  <option *ngFor="let location of locationList" [ngValue]="location">{{location}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <button class="btn r-margin" (click)="SearchClick()">Search</button>
          </div>
        </form>
      </div>

    </div>
  </div>

</div>
<div *ngIf="finalResults.length !=0">
  <app-display [JobsToDisplay]="finalResults"></app-display>
</div>
<div *ngIf="finalResults.length ==0 && searchButtonClicked!=false">
  <app-no-data-to-display></app-no-data-to-display>
</div>